table {
  margin: 1rem;
}

table,
th,
td {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #32486150;
  border-collapse: collapse;
  padding: 1.25rem 1rem;
}
@media screen and (max-width: 600px) {
  table {
    border: none;
    width: 100vw;
  }
  th {
    display: none;
  }
  tr td {
    display: block;
    float: right;
    width: 100%;
    text-align: center;
  }
  td::before {
    content: attr(aria-describedby);
    float: left;
    margin-right: 20px;
  }
}
.email {
  cursor: pointer;
}
